@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  /* colors */
  --light-grey: #f8f7f9;
  --dark-grey: #040f0f;
  --green-200: #357358;
  --green-500: #255744;
  --middle-grey: #415353;
  --card-light: #171a21;

  /* Default light mode variables */
  --backgroundColor: var(--light-grey);
  --textColor: var(--dark-grey);
  --cardBackgroundColor: var(--light-grey);
  --cardTextColor: var(--dark-grey);

  /* Dark mode variables */
  --dark-backgroundColor: #040f0f;
  --dark-textColor: #fcfffc;
  --dark-cardBackgroundColor: var(--card-light);
  --dark-cardTextColor: #eaeaea;

  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
  --max-width: 1920px;
}

/* Dark Theme Styles */
.dark-theme {
  --backgroundColor: var(--dark-backgroundColor);
  --textColor: var(--dark-textColor);
  --cardBackgroundColor: var(--dark-cardBackgroundColor);
  --cardTextColor: var(--dark-cardTextColor);
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: var(--darkModeTransition);
}

/* Styling for a specific class with light and dark modes */
.custom-card {
  background-color: var(--cardBackgroundColor);
  color: var(--cardTextColor);
  padding: 1.5rem;
  border-radius: 15px;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1), 0px 1px 3px rgba(0, 0, 0, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(10px);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.main-container {
  display: flex;
  max-height: 100vh;
}

.main-container nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  /* background-color: #248232; */
  padding: 40px;
  position: relative;
}

.dark-toggle {
  border: none;
  padding: 6px;
  font-size: 2rem;
  cursor: pointer;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.ul-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.ul-menu li a {
  text-decoration: none;
  font-size: 1.5rem;
  background: none;
}

.ul-menu li a:hover {
  color: var(--green-200);
}

.dark-toggle:hover {
  background-color: rgba(125, 125, 125, 0.2);
}

.toggle-icon-moon {
  color: var(--light-grey);
}

.toggle-icon-sun {
  color: var(--dark-grey);
}

.logo a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 2rem;
  text-decoration: none;
}

.logo a span {
  color: var(--green-200);
}

.home-name {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-transform: uppercase;
  max-width: var(--max-width);
  margin: 0 auto;
}

.names-container {
  display: flex;
  flex-direction: column;
}

.img-div {
  display: flex;
  justify-content: center;
  max-width: 600px;
}

.names-container h2 {
  color: var(--middle-grey);
  padding-left: 5px;
}

.names-container .name-front {
  font-size: 6rem;
  color: var(--green-200);
}
.names-container .name-back {
  font-size: 6rem;
  margin-top: -20px;
  margin-left: 100px;
}

.social-media-links {
  display: flex;
  position: absolute;
  gap: 10px;
  bottom: 20px;
  right: 20px;
}

.social-media-links li a {
  font-size: 2rem;
}

.social-media-links li a:hover {
  color: var(--green-200);
  transition: 0.3s ease;
}

.image {
  overflow: hidden;
  width: 100%;
  padding: 20px;
}

.rotatingText {
  display: flex;
  height: 110px;
  overflow: hidden;
}

.rotatingText-content {
  position: relative;
  width: 100%;
}

.rotatingText-adjective {
  font-size: 6rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  opacity: 0;
  text-transform: uppercase;
  color: var(--green-200);
  font-weight: bold;
  animation: rotateText 12s infinite;
}

.rotatingText-adjective:nth-of-type(1) {
  animation-delay: 0s;
}

.rotatingText-adjective:nth-of-type(2) {
  animation-delay: 4s;
}

.rotatingText-adjective:nth-of-type(3) {
  animation-delay: 8s;
}

@keyframes rotateText {
  10% {
    opacity: 0;
    transform: translateY(100%);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 1;
    transform: translateY(0);
  }
  40% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

.active-navlink {
  color: var(--green-500);
  font-weight: 700;
}

/* -------PROJECT LIST PAGE STYLE-------------------------------------------- */

.project-list-container,
.project-page-container {
  display: flex;
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  flex-direction: column;

  padding: 20px;
  justify-content: center;
  align-items: center;
}

/* .project-container {
  display: flex;
  width: 65%;
  margin: 100px;
  justify-content: space-around;
  align-items: center;
} */

.project-text-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-image-container {
  width: 60%;
  height: 550px;
  overflow: hidden;
}

.project-img {
  max-width: 90%; /* Adjust the image to be responsive */
  max-height: 90%; /* Ensure the image fits within the screen */
  border-radius: 10px;
}

.project-number {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

/* .project-title {
  font-size: 2.5rem;
  letter-spacing: 5px;
} */

.project-minitext {
  font-size: 1.5rem;
}

.number-icon {
  color: var(--green-200);
  margin-right: 10px;
  display: flex;
}

.button {
  width: 170px;
  padding: 10px 15px;
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.button-2 {
  color: #fff;
  border: 3px solid var(--green-200);
  background-image: -webkit-linear-gradient(
    30deg,
    var(--green-200) 50%,
    transparent 50%
  );
  background-image: linear-gradient(
    30deg,
    var(--green-200) 50%,
    transparent 50%
  );
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.button-2:hover {
  background-position: 100%;
  color: var(--green-200);
}

.project-page-img {
  width: 500px;
}

.project-page-info {
  display: flex;
  background-color: #248232;
  width: 80%;
}

.project-page-maintext {
  width: 50%;
  background-color: aqua;
}

.project-page-otherinfo {
  width: 50%;
  background-color: khaki;
}

iframe {
  border: none;
}

.message-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.screen {
  width: auto;
  max-width: 600px;
  background-color: #333; /* Screen background color */
  border: 10px solid #555; /* Screen frame */
  border-radius: 15px; /* Rounded corners for the screen */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Shadow for depth */
  position: relative; /* Enable absolute positioning inside */
  display: flex; /* Flexbox to center the image */
  justify-content: center;
  align-items: center;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {
  content: "";
  grid-area: 1/1;
  --c: no-repeat radial-gradient(farthest-side, var(--green-200) 92%, #0000);
  background: var(--c) 50% 0, var(--c) 50% 100%, var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes l12 {
  100% {
    transform: rotate(0.5turn);
  }
}

@media (max-width: 1024px) {
  .home-name {
    flex-direction: column;
    margin-top: 30px;
  }

  .rotatingText-adjective {
    font-size: 4.5rem;
  }
  .names-container {
    width: 80%;
  }
  .names-container .name-front {
    font-size: 4.5rem;
  }
  .names-container .name-back {
    font-size: 4.5rem;
    margin-top: -40px;
  }
}

@media (max-width: 768px) {
  .home-name {
    margin-top: -20px;
  }
  .rotatingText-adjective {
    font-size: 3.5rem;
  }
  .names-container .name-front {
    font-size: 3.5rem;
  }
  .names-container .name-back {
    font-size: 3.5rem;
    margin-top: -60px;
  }

  .image {
    margin-top: 20px;
    width: 60%;
  }
}

@media (max-width: 480px) {
  .home-name {
    margin-top: -50px;
  }

  .rotatingText-adjective {
    font-size: 2.5rem;
  }
  .names-container .name-front {
    font-size: 2.5rem;
  }
  .names-container .name-back {
    font-size: 2.5rem;
    margin-top: -70px;
  }

  .image {
    margin-top: 20px;
    width: 80%;
  }
}
