* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-100: #e2e0ff;
  --primary-200: #c1beff;
  --primary-300: #a29dff;
  --primary-400: #837dff;
  --primary-500: #645cff;
  --primary-600: #504acc;
  --primary-700: #3c3799;
  --primary-800: #282566;
  --primary-900: #141233;
  --backgroundColor: var(--primary-100);
  --textColor: var(--primary-900);
  --dark-backgroundColor: var(--primary-900);
  --dark-textColor: var(--primary-100);
  --darkModeTransition: color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.dark-theme {
  --textColor: var(--dark-textColor);
  --backgroundColor: var(--dark-backgroundColor);
}

body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
  transition: var(--darkModeTransition);
}
